<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tedu.store.mapper.DistrictMapper">
    <!--根据父级代号获取子级的省/市/区的列表-->
    <!--List<District> findByParent(String parent);-->
    <select id="findByParent" resultType="com.tedu.store.entity.District">
        select
            id,parent,code,name
        from
            t_dict_district
        where
            parent = #{parent}
        order by
            code
    </select>

    <!--根据代号获取省/市/区的详情-->
    <!--District findByCode(String code);-->
    <select id="findByCode" resultType="com.tedu.store.entity.District">
        select
            id,parent,code,name
        from
            t_dict_district
        where
            code = #{code}
    </select>
</mapper>